<mat-card>
    <h2>Restablecer contraseña</h2>

    <mat-form-field appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="passwordNueva">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Confirmar nueva contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="confirmarPasswordNueva">
    </mat-form-field>

    <button mat-raised-button (click)="restablecerPassword()">
        Cambiar contraseña
    </button>

    @if (mensaje) {
        <p>
            {{ mensaje }}
        </p>
    }

    @if (error) {
        <p>
            {{ error }}
        </p>
    }
</mat-card>
